body {
    background-color: #17202d;
}

#title{
    font-size: 72px;
    font-family: "Roboto Condensed";

    color: white;

    text-align: center;

    margin-bottom: 5px;
}
#value{
    font-size: 28px;
    color: green;

    font-family: "Roboto Condensed";

    text-align: center;

    margin: 0;
}

#inventory-container{
    display: block;

    background-color: #0f131b;
    
    width: 1367px;
    height: auto;

    margin: 0 auto;
    margin-top: 20px;

    border: 1px black solid;
}
.item{
    /* float: left; */

    width: 120px;
    height: 160px;

    background-color: #1a2331;  
    
    margin: 5px;    

    display: inline-block;

    /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
    transition: box-shadow 0.1s ease-in-out;

    border: black 1px solid;
}

.item:hover{
    /* box-shadow: 0 10px 20px rgba(0,0,0,0.3); */
    border: lightcoral 1px solid;
}

.selected:hover{
    border: red 1px solid;    
}
.selected{
    border: red 1px solid;    
}

.item-image{
    height: 80px;
    width: 100px;
    
    margin-left: 10px;
    margin-top: 10px;

}
.item-name{
    color: white;
    font-family: "Roboto Condensed";

    margin-bottom: 2px;
    
}
.item-price{
    color: red;
    font-family: "Roboto Condensed"; 

    margin-top: 2px;
}

#item-list{
    list-style: none;
    
    
    padding-left: 5px;
    padding-right: 5px;
   
}
#button-container{
    width: 200px;
    
    margin: 0 auto;
    margin-top: 10px;
}