ul {
    list-style-type: none;
}

.item-icon{
    display: inline-block;
    width: 15%;

    margin-bottom: 2px;

    border: 1px lightyellow solid;
}

.item-icon:hover{
    border: 2px grey solid;
}

.selected{
    border: 2px black solid;
    
}

.inventory{
    border: 2px lightgrey solid;
    border-radius: 3px;
    padding: 10px;
}

#inventory-title{
    margin-top: 5px;
}

#depositButton{
    display: block;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}